* {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, ubuntu, roboto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  perspective: 350px;
  perspective-origin: 50% 50%;
  background: #151d29;
  position: relative;
}
input {
  margin: 30px 45px;
  width: 250px;
  height: 30px;
  padding-top: 28px;
  border: none;
  border-radius: 0;
  color: white;
  background: #666666;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  border-bottom: 4px solid #b9b9b9;
  -webkit-transition: width 0.3s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s ease-in-out;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #2196f3;
  width: 550px
}
.card {
  height: 120px;
  width: 250px;
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  overflow: hidden;
  position: absolute;
}